services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_DATABASE: itatchi_db
      MYSQL_USER: itatchi_user
      MYSQL_PASSWORD_FILE: /run/secrets/mysql_user_password
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    secrets:
    - mysql_root_password
    - mysql_user_password
    deploy:
      mode: replicated
      replicas: 1  
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager

  backend:
    image: itatchi-backend 
    depends_on:
      - mysql
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=itatchi_user
      - DB_NAME=itatchi_db
    secrets:
      - mysql_user_password
    deploy:
      mode: replicated
      replicas: 2   
      restart_policy:
        condition: on-failure
      placement:
        constraints:
           - node.role == manager 

  frontend:
    image: itatchi-frontend
    depends_on:
      - backend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:5000
    deploy:
      mode: replicated
      replicas: 2   
      restart_policy:
        condition: on-failure
      placement:
        constraints:
           - node.role == manager 

  visualizer:
    image: dockersamples/visualizer:latest
    ports:
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"  
    deploy:
      placement:
        constraints:
          - node.role == manager

volumes:
  mysql-data:

secrets:
  mysql_root_password:
    external: true
  mysql_user_password:
    external: true